


@{
    if(TempData["msg"].ToString()  == "success")
    {
        <div class="alert alert-success">Başarıyla giriş yapıldı!</div>
    }
    else
    {
        <div class="alert alert-danger">Giriş başarısız!</div>
    }
}

