<html>
<head>
    @*<title>Şehirler</title>*@
    <link rel="stylesheet" href="~/assets/custom/css/style.css" />
</head>
<body>
    <h1>BAŞKA LAYOUT SAYFASI!</h1>
    <nav>
        <ul>
            <li>
                <a href="/Sehir/Sehirler">Şehirler</a>
            </li>
            <li>
                <a href="/Sehir/SehirlerVeUlkeler">Şehirler ve Ülkeler</a>
            </li>
        </ul>
    </nav>

    @RenderBody()

    

</body>

</html>