@*<title>Şehirler ve Ülkeler</title>*@

@{
    //Layout = null;
    //Layout = "_BaskaLayout";
    //Layout = "_Layout";
    ViewData["Title"] ??= "ŞEHİRLER VE ÜLKELER";
}

<style>
    div {
        display: inline-block;
    }
</style>
@*<img src="~/assets/images/manzara.png"/>*@
<div>
    <h1>ŞEHİRLER</h1>
    <table>
        <thead>
            <tr>
                <th>Plaka No</th>
                <th>Şehir Adı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>34</td>
                <td>İstanbul</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Ankara</td>
            </tr>
        </tbody>
    </table>
</div>
<div style="margin-left:1rem;">
    <h1>ÜLKELER</h1>
    <table>
        <thead>
            <tr>
                <th>Telefon Kodu</th>
                <th>Ülke Adı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>+90</td>
                <td>Türkiye</td>
            </tr>
            <tr>
                <td>+49</td>
                <td>Almanya</td>
            </tr>
        </tbody>
    </table>
</div>